<div class="container">
	<div class="row">
		<div class="col-md-12 text-center" id="top-bar">
			<img src="/assets/images/burger.png" alt="burger" />
			<h1> NOM NOM NOM </h1>
		</div>

<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-12 sections">
      <form class="create-form text-center" action="/burgers/create" method="POST">
        <div class="form-group">
          <label for="burger-name">New Burger:</label>
          <input type="text" class="form-control" id="enter_text" value="" name="burger_name">
          <button class="btn btn-success btn-sm" type="submit">Add Burger</button>
        </div>
      </form>
    </div>
  </div>


</div>


